<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_7.1.xsd">

    <action-view name="pbp.lunch-for-admin-action" title="Menu making" model="com.axelor.apps.pbproject.db.DishMenu">
        <view type="grid" name="pbp.dish-grid-view"/>
        <view type="form" name="pbp.dish-form-view"/>
        <context name="_user" expr="eval: __user__"/>
    </action-view>
    <action-view name="pbp.lunch-for-admin-action-grid" title="Menu making" model="com.axelor.apps.pbproject.db.Lunch">
        <view type="grid" name="pbp.lunch-grid-view"/>
        <view type="form" name="pbp.lunch-form-view"/>
    </action-view>

    <action-view name="pbp.lunch-for-users-action" title="Lunch" model="com.axelor.apps.pbproject.db.Lunch">
        <view type="dashboard" name="pbp.lunch-for-partners-dashboard"/>
        <context name="_user" expr="eval: __user__"/>
    </action-view>
    <action-view name="pbp-my-statistic-action-view" title="My statistic">
        <view type="dashboard" name="pbp.my-statistic-dashboard"/>
        <context name="_user" expr="eval: __user__"/>
    </action-view>

    <action-view name="pbp.award-action-view" title="Awards" model="com.axelor.apps.pbproject.db.Award">
        <view type="grid" name="pbp.award-grid"/>
        <view type="form" name="pbp.award-form"/>
    </action-view>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.main-dashboard" title="Main page" icon="fa-th-large" icon-background="#aec23c"
              order="1000" action="pbp.main-dashboard.view"/>

    <menuitem name="pbp.events" title="Events" icon="fa-calendar" icon-background="#aec23c"
              order="1100" action="pbp.events.view"/>

    <menuitem name="pbp.projects" title="Projects" icon="fa-book" icon-background="#aec23c"
              order="1200" action="pbp.projects"/>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.tasks.all" title="All Tasks" icon="fa-list" icon-background="#389665"
              order="2000" action="pbp.tasks.all" tag-count="true"/>

    <menuitem name="pbp.tasks.user" title="My Tasks" icon="fa-th-list" icon-background="#389665"
              order="2100" action="pbp.tasks.byUser" tag-count="true"/>

    <menuitem name="pbp.todo" title="To-Do list" icon="fa-list-alt" icon-background="#389665"
              order="2200" action="pbp.todo.view"/>

    <menuitem name="pbp.daily-records" title="Daily records" icon="fa-book" icon-background="#389665"
              order="2300" action="pbp.daily-records"/>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.lunch.user" title="Lunch" icon="fa-coffee" icon-background="#3f6bb9"
              action="pbp.lunch.today-orders" order="2400" if="__repo__(DishMenu).getTodayDishMenu() != null"/>

    <menuitem name="pbp.forum" title="Forum" order="2500" icon="fa-commenting-o"
              icon-background="#3f6bb9" action="pbp.forum"/>

    <menuitem name="pbp.chat.m-i" title="Chat AI" action="pbp.chat.a-v" order="2600" icon="fa-commenting"
              icon-background="#3f6bb9"/>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.user.ask-leave" title="Ask for off" icon="fa-sign-out" icon-background="#653896"
              order="3000" action="pbp.ask-leave.view"/>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.reports" title="Reports" icon="fa-bar-chart" icon-background="#0e4d63"
              order="4000"/>

    <menuitem name="pbp.employee-hours" title="Workers hours" action="pbp.project-working-hours-action"
              icon="fa-clock-o" icon-background="#0e4d63" parent="pbp.reports" order="4100"/>

    <menuitem name="pbp.appraisal" title="Appraisal" icon="fa-pie-chart" icon-background="#ab9518"
              order="4200"/>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.user.data" title="Personal data" icon="fa-address-card-o" icon-background="#61b54a"
              order="6000"/>

    <!-- Меню которое отображает Person info -->
    <menuitem name="pbp.menu-partner-form" title="Person info" action="pbp.partner.general.setting"
              icon="fa-address-card" icon-background="#61b54a" order="6100" parent="pbp.user.data"/>

    <menuitem name="pbp.user-change-password.menu-item" title="Change password" icon-background="#61b54a" order="6200"
              action="pbp.user-change-password.action-view" icon="fa-pencil-square-o" parent="pbp.user.data"/>

    <!-- ===================================================================================================== -->

    <menuitem name="pbp.settings.lunch" title="Settings lunch" icon="fa-cogs" icon-background="#ab9518"
              order="7000"/>

    <menuitem name="pbp.dish" title="Dishes" action="pbp.dish" parent="pbp.settings.lunch" order="7100"/>

    <menuitem name="pbp.dish-menu" title="Menu list" order="7200" action="pbp.dish-menu" parent="pbp.settings.lunch"/>

    <menuitem name="pbp.lunch-config" title="Lunch config" order="7300" action="pbp.lunch-config" parent="pbp.settings.lunch"/>

    <menuitem name="pbp.lunch" title="Lunch orders" order="7400" action="pbp.lunch" parent="pbp.settings.lunch"/>
    <!-- ===================================================================================================== -->

    <menuitem name="pbp.settings.general" title="Settings general" icon="fa-cogs" icon-background="#ab9518"
              order="8000"/>

    <menuitem name="pbp.appraisal" title="Appraisal" icon="fa-pie-chart" icon-background="#ab9518"
              order="8000"/>
</object-views>
