<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_7.1.xsd">

    <!--  Меню которое открывает все таски  -->
    <menuitem name="pbp.project-task-all.m-i" title="Tasks" action="pbp.project-all.a-v" icon="fa-briefcase"
              icon-background="#3f6bb9" order="500"/>

    <action-view name="pbp.project-all.a-v" title="Tasks" model="com.axelor.apps.project.db.ProjectTask">
        <view type="kanban" name="pbp.project-task-kanban"/>
        <view type="grid" name="project-task-grid"/>
        <view type="form" name="pbp.project-task-form"/>
        <view-param name="search-filters" value="project-task-filters"/>
        <view-param name="auto-reload" value="20"/>
        <domain>self.typeSelect = :_typeSelect</domain>
        <context name="_typeSelect" expr="eval: 'task'"/>
    </action-view>

    <!--  Меню которое открывает все "мои" задачи  -->
    <menuitem name="pbp.my-connected-all-projects-tasks" tag-count="true" title="My tasks"
              action="pbp.project-all-my-tasks" order="600" icon="fa-user-circle-o" icon-background="#3f6bb9"/>

    <action-view name="pbp.project-all-my-tasks" title="My tasks" model="com.axelor.apps.project.db.ProjectTask">
        <view type="kanban" name="pbp.project-task-kanban"/>
        <view type="form" name="pbp.project-task-form"/>
        <view-param name="search-filters" value="project-task-filters"/>
        <view-param name="auto-reload" value="20"/>
        <domain>self.assignedTo = :__user__ AND self.typeSelect = :_typeSelect</domain>
        <context name="_typeSelect" expr="eval: 'task'"/>
    </action-view>

    <!--  Меню которое открывает часовой менеджер  -->
    <menuitem name="pbp-employee-working-hours" title="Workers hours" action="pbp.project-working-hours-action"
              order="700" icon="fa-clock-o" icon-background="#3f6bb9"/>

    <action-view name="pbp.project-working-hours-action" title="Employee hours"
                 model="com.axelor.apps.pbproject.db.UserHoursManagement">
        <view type="form" name="pbp-employee-hours-management-form"/>
    </action-view>

    <!--  Меню которое открывает ивент календарь  -->
    <menuitem name="pbp.event-calendar-for-peta-m-i" title="Event calendar" icon="fa-calendar" icon-background="#3f6bb9"
              action="pbp.peta-calendar-open-action" order="800"/>

    <action-view name="pbp.peta-calendar-open-action" title="Event calendar"
                 model="com.axelor.apps.base.db.ICalendarEvent">
        <view type="calendar" name="pbp.calendar-event-all"/>
    </action-view>


    <!--  Меню который открывает главный дашборд  -->
    <menuitem name="pbp.peta-dashboard-m-i" title="Main" icon="fa-users" icon-background="#3f6bb9"
              action="pbp.duty-users-action-view"/>

    <action-view name="pbp.duty-users-action-view" title="Main">
        <view type="dashboard" name="pbp.main-pp-dashboard"/>
    </action-view>

    <!-- Меню который открывает список проектов -->
    <menuitem name="pbp.project.m-i" title="Projects" icon="fa-outdent" icon-background="#3f6bb9"
              action="pbp.projects-action-view"/>

    <action-view name="pbp.projects-action-view" title="All projects" model="com.axelor.apps.project.db.Project">
        <view type="grid" name="pbp.project-grid"/>
        <view type="form" name="pbp.project-form"/>
    </action-view>

    <!-- Меню которое отображает форум -->
    <menuitem name="pbp-menu-forum" title="Forum" action="pbp.project-forum-action" order="800" icon="fa-commenting-o"
              icon-background="#3f6bb9"/>

    <action-view name="pbp.project-forum-action" title="Forum" model="com.axelor.apps.pbproject.db.ForumTopic">
        <view type="cards" name="pbp.forum-topic-cards"/>
        <view type="form" name="pbp.forum-topic-form"/>
    </action-view>

    <!-- Меню которое открывает всех пользователей для администрирования -->
    <menuitem name="pbp.all-users-m.i" title="Users" icon="fa-blind" icon-background="#3f6bb9" order="670"
              action="pbp.action-auth-users"/>

    <action-view name="pbp.action-auth-users" title="Users"
                 model="com.axelor.auth.db.User">
        <view type="grid" name="pbp.user-grid"/>
        <view type="form" name="user-form"/>
        <view-param name="search-filters" value="user-filters"/>
        <context name="_today" expr="eval: __config__.date"/>
    </action-view>

    <!--  Меню которой открывает список юзеров для фейс айди   -->
    <menuitem name="pbp.open-face-id-user-create.m-i" title="Face id" icon="fa-id-card-o" icon-background="#3f6bb9"/>
    <menuitem name="pbp.open-face-id-connections-users.m-i" title="Users" parent="pbp.open-face-id-user-create.m-i" action="pbp.user-info-face-id-view"/>

    <menuitem name="pbp.open-report-users-comming-leaving.m-i" title="Report face id" parent="pbp.open-face-id-user-create.m-i" action="pbp.user-report-face-id.action-view"/>

    <action-view name="pbp.user-info-face-id-view" title="Face id" model="com.axelor.auth.db.User">
        <view type="grid" name="pbp.user-face-id-grid"/>
        <view type="form" name="pbp.user-face-id-form"/>
    </action-view>

    <action-view name="pbp.user-report-face-id.action-view" title="Report comming leaving" model="com.axelor.auth.db.User">
        <view type="form" name="user-report-comming-leaving-form"/>
    </action-view>

    <!-- Меню которое отображает Person info -->
    <menuitem name="pbp.menu-partner-form" title="Person info" action="pbp.partner-form-for-self-user-action" order="900"
              icon="fa-info-circle" icon-background="#3f6bb9"/>

    <action-view name="pbp.partner-form-for-self-user-action" title="Person info" model="com.axelor.apps.base.db.Partner">
        <view type="form" name="pbp.partner-form-for-self-user"/>
        <view-param name="forceEdit" value="true"/>
        <view-param name="show-toolbar" value="false"/>
        <context name="_showRecord" expr="eval: __user__.partner?.id"/>
        <context name="_showSingle" expr="true"/>
    </action-view>

    <!-- Меню которое отображает Новости -->
    <menuitem name="pbp-news-root" title="Manager news" order="500" icon="fa-newspaper-o"
              icon-background="#3f6bb9"/>
    <menuitem name="pbp-menu-manager-news" title="All news" action="pbp.manager-news-action,pbp.manager-news-action-isNotPublish"
              parent="pbp-news-root"/>
    <menuitem name="pbp-menu-manager-news-for-user" title="My news" action="pbp.manager-news-action-isNotPublish"
              parent="pbp-news-root" />

    <action-view name="pbp.manager-news-action" title="Manager news" model="com.axelor.apps.pbproject.db.News">
        <view type="cards" name="pbp.news-cards-view"/>
        <view type="form" name="pbp.news-form-view"/>
        <domain>self.isPublish = true</domain>

    </action-view>

    <action-view name="pbp.manager-news-action-isNotPublish" title="Manager news" model="com.axelor.apps.pbproject.db.News">
        <view type="cards" name="pbp.news-cards-view"/>
        <view type="form" name="pbp.news-form-view"/>
        <domain>self.createdBy = : __user__ </domain>
        <context name="_user" expr="eval: __user__"/>
    </action-view>

    <!-- Меню которое отображает Рейтинги -->
    <menuitem name="pbp.menu-ratings-root" title="Ratings"
              icon=" fa-star-o" icon-background="#3f6bb9"/>
    <menuitem name="pbp.menu-ratings-by-person" title="Ratings by person" action="pbp.ratings-by-person-action"
              parent="pbp.menu-ratings-root"/>
    <menuitem name="pbp.menu-ratings-by-team" title="Ratings by team" action="pbp.ratings-by-team-action"
              parent="pbp.menu-ratings-root"/>
    <menuitem name="pbp.menu-ratings-by-project" title="Ratings by project" action="pbp.ratings-by-project-action"
              parent="pbp.menu-ratings-root"/>

    <action-view name="pbp.ratings-by-person-action" title="Ratings by person!">
        <view type="dashboard" name="pbp.ratings-by-person-dashboard"/>
    </action-view>
    <action-view name="pbp.ratings-by-team-action" title="Ratings by team!">
        <view type="dashboard" name="pbp.ratings-by-team-dashboard"/>
    </action-view>
    <action-view name="pbp.ratings-by-project-action" title="Ratings by project!">
        <view type="dashboard" name="pbp.ratings-by-project-dashboard"/>
    </action-view>


    <!-- Меню которое для отпросится -->
    <menuitem name="pbp.ask-for-leave-from-job-m.i" title="Ask for off" icon="fa-sign-out" icon-background="#3f6bb9" action="pbp.ask-for-leave-from-action.view"/>
    <action-view name="pbp.ask-for-leave-from-action.view" title="Leave ask" model="com.axelor.apps.pbproject.db.WorkLeave">
        <view type="grid" name="pbp.ask-for-leave-grid"/>
        <view type="form" name="pbp.ask-for-leave-form"/>
        <view-param name="auto-reload" value="15"/>
        <context name="_user" expr="eval: __user__"/>
    </action-view>

    <!-- Меню для управления отчетами с дежурными -->
    <menuitem name="pbp.report-duty-users-m.i" title="Duty control" icon="fa-user-md" icon-background="#3f6bb9" action="pbp.duty-control-action.view"/>
    <action-view name="pbp.duty-control-action.view" title="Duty control" model="com.axelor.apps.pbproject.db.Duty">
        <view type="form" name="pbp.duty-control-form"/>
    </action-view>

    <!--Меню для заполнения блюд для обеда партнеров (видно только администрации)-->
    <menuitem name="pbp.menu-lunch-for-admin" title="Dish menu" icon="fa-coffee" icon-background="#3f6bb9" action="pbp.lunch-for-admin-action"
              if="eval: __user__.group?.name == 'Admins'"/>

    <action-view name="pbp.lunch-for-admin-action" title="Menu making" model="com.axelor.apps.pbproject.db.DishMenu">
        <view type="grid" name="pbp.dish-grid-view"/>
        <view type="form" name="pbp.dish-form-view"/>
        <context name="_user" expr="eval: __user__"/>
    </action-view>

    <!--Меню для заказа обеда(партнеры)-->
    <menuitem name="pbp.menu-lunch-for-users" title="Lunch" icon="fa-coffee" icon-background="#3f6bb9"
              action="pbp.lunch-for-users-action" />
    <action-view name="pbp.lunch-for-users-action" title="Lunch" model="com.axelor.apps.pbproject.db.Lunch">
        <view type="dashboard" name="pbp.lunch-for-partners-dashboard"/>
        <context name="_user" expr="eval: __user__"/>

    </action-view>

</object-views>
